Makefile
libcdfread/tmp
libmzorbi/tmp
libneural/tmp
mzroll/tmp
mzWatcher/tmp
peakdetector/tmp
pugixml/src/tmp
build/
bin/
test/
*.moc
.vim*
*.sw*
moc_*
*.o
*.gch
*.user
qrc_*
dump
*.msp
.DS_Store
.qmake.stash
maven_core.pro
peakdetector.pro.user
libmaven/ThreadSafeSmoother
*.o.tmp
maven_core.pro.user**

**/.DS_Store
mzDeltas/.DS_Store
mzDeltas/Makefile
mzDeltas/tmp